body{
	background-color: black;
}
h1{
	color: yellow;
}
#map{
	text-align: center;
	width: 500px;
	height: 500px;
}
#cargando{
  text-align: center;
  width: 3em;
}

/*Pantalla principal de app*/
#muro{
  display: none;
  background-image: url();
  background-size: 100%;
  background-color: white;
}
#primeraPantalla{
	background-color: black;
}
.divDisplayNone{
	display: none;
}
.divDisplayBlock{
	display: block;
}
